body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    border-bottom: 1px solid seashell;
}

nav ul {
    margin-right: 15px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.logo {
    float: left;
    margin: 10px;
    height: 50px;
}